/* css reusable classes to reset all the browser settings to default */

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --font-body: 13px;
  --font-base: "Manrope", sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--light-grayish-blue);
  font-family: var(--font-base);
  min-height: 100vh;
}

.container {
  margin: 2rem auto;
  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
  width: 85vw;
  background-color: white;
  display: grid;
  border-radius: .5rem;
  grid-template-columns: 1fr;
}

.container__title {
  font-size: 1.2rem;
  padding: 1rem;
  line-height: 1.5rem;
  width: 90%;
  margin-left: 2.5rem;
  margin-right: 1rem;
  margin-top: 2rem;
  color: var(--very-dark-grayish-blue);
}

.container__image {
  height: 15rem;
  width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.container__description{
  padding: 1rem;
  margin-left: 2.5rem;
  margin-right: 5rem;
  line-height: 1.7rem;
  color: var(--desaturated-dark-blue);
}

.grid__lower{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  position: relative;
}

.grid__lower_image{
  border-radius: 50%;
  height: 4rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.grid__lower_name{
  margin-top: 2.6rem;
  margin-left: 1rem;
  font-size: 1rem;
  color: var(--very-dark-grayish-blue)
}

.grid__lower_date{
  font-weight: 300;
  opacity: .5;
  margin-left: 1rem;
  margin-top: .5rem;
}

.share__icon{
  position: absolute;
  margin-top: 3.3rem;
  right: 2.2rem;
  border-radius: 50%;
  padding: .5rem;
  background-color: var(--light-grayish-blue);
}

@media only screen and ( min-width: 1440px ){
  .container{
    grid-template-columns: 1fr 10fr;
    position: relative;
    width: 48%;
    margin: 9rem;
    margin: 6rem auto;
  }

  .container__image{
    width: 25.2rem;
    height: 100%; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: .5rem;
  }

  .container__title{
    margin-right: 64rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
    width: 30%;
  }

  .container__description{
    margin-right: 57rem;
    margin-top: 0;
    width: 40%;
  }

  .grid__lower{
    display: grid;
    grid-template-columns: 1fr 8fr 9fr;
  }

  .share__icon{
    position: absolute;
    left: 26rem;
  }
}